@media only screen and (min-width : 760px) and (max-width : 1000px) {
  .section-mobile {
    height: 100vh
  }
}

@media only screen and (min-width : 1000px) {
  .format-left{
    width: 50%;
  }
  .format-right{
    width: 50%;
    /*padding-right: 5vw;*/
  }
  .format-center{
    width: 50%
  }
}
/*@media only screen and (max-width : 900px) {
  .format-left{
    width: 100%;
  }
  .format-right{
    width: 100%;
  }
  .format-center{
    width: 100%
  }
}*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  color: #5f5c5c;
}

@media only screen and (max-height : 900px) and (max-width : 1400px) {
  body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #5f5c5c;
  }
}

@media only screen and (max-height : 550px) and (max-width : 800px) {
  body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #5f5c5c;
  }
}

/*@media only screen and (max-width : 900px) {
  body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
  }
}*/



/*
@media only screen and (min-width : 1000px) {
  body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    color: #5f5c5c;
  }
}*/

section {
  position: relative;
  height: 100vh;
}
@media only screen and (min-width : 760px) and (max-width : 999px) {
 section {
   height: 100%;
 }
}
/*@media only screen and (max-width : 1000px) {
 section {
   height:auto;
 }
}*/


.section-half {
  height: 50%;
  position: relative;
}

@media only screen and (max-width : 759px) {
 .section-half {
   height: 50vh;;
 }
}

.section-55{
  height: 55%;
}

@media only screen and (min-width : 760px) and (max-width : 999px) {
 .section-55 {
   height: auto;
 }
}
@media only screen and (max-width : 759px) {
 .section-55 {
   height:auto;
 }
}


.section-45{
  height: 45%;
}

@media only screen and (min-width : 760px) and (max-width : 999px) {
 .section-45 {
   height: auto;
 }
}
@media only screen and (max-width : 759px) {
 .section-45 {
   height:auto;
 }
}



.section-contact {
  flex-direction: column;
}
.container-contact-form {
  flex-grow: 1;
}

h1 {
  font-size: 2.2em;
}
@media only screen and (min-width : 1000px) {
  h1 {
    padding-bottom: 2vh;
  }
}

@media only screen and  (min-width : 760px) and (max-width : 999px) {
  h1 {
    line-height: 1.1;
    padding-bottom: 2vh;
  }
}

@media only screen and (min-width : 320px) and (max-width : 759px) {
  h1 {
    font-size: 1.8em;
    line-height: 1.1;
    padding-bottom: 2vh;

  }
}

@media only screen and (max-width : 320px) {
  h1 {
    font-size: 1.5em;
  }
}


.h1-adv-shadow {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}
.h1-pub-shadow {
  text-shadow: 2px 0 0 #F5F5F5, -2px 0 0 #F5F5F5, 0 2px 0 #F5F5F5, 0 -2px 0 #F5F5F5, 2px 2px #F5F5F5, -2px -2px 0 #F5F5F5, 2px -2px 0 #F5F5F5, -2px 2px 0 #F5F5F5;

}

h2 {
  font-size: 1em;
  margin-bottom: 1vh;
  padding-top: 0.5vh;
}
@media only screen and  (min-width : 1000px) {
  h2 {
    font-size: 1em;
  }
}

@media only screen and  (min-width : 760px) and (max-width : 999px) {
  h2 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width : 759px) {
  h2 {
    font-size: 2em;

  }
}





h3 {
  font-weight: bold;
  font-size: 0.64em;
}

@media only screen and  (min-width : 1000px) {
  h3 {
    font-size: 0.64em;
  }
}

@media only screen and  (min-width : 760px) and (max-width : 999px) {
  h3 {
    font-size: 0.8em;
  }
}

@media only screen and (max-width : 759px) {
  h3 {
    font-size: 0.9em;

  }
}




h3.adv {
  font-size: 1em;
}

p {
  margin-bottom: 1.8vh;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2;
}


@media only screen and  (min-width : 1000px) {
  p {
    margin-bottom: 1.8vh;
  }
}

@media only screen and  (min-width : 760px) and (max-width : 999px) {
  p {
    margin-bottom: 3vh;
  }
}

@media only screen and (min-width : 321px) and (max-width : 759px) {
  p {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 1vh;

  }
}

@media only screen and (max-width : 320px) {
  p {
    font-size: 0.7em;
    margin-bottom: 1vh;

  }
}




p.regular {
  font-weight: 400;
}
.text {
  width: 70%;
  /*margin-bottom: 2.4em;*/
  z-index: 2;
}

@media only screen and (max-width : 759px) {
  .text {
    width: 97%;

  }
}

.background-clip {
  position: absolute;
  background: #ba4e4d;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
}

.adv-background-clip {
  position: absolute;
  background: #ba4e4d;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
  z-index: -1;
}
@media only screen and (max-width : 759px) {
  .adv-background-clip {
    position: absolute;
    background: #ba4e4d;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
    clip-path: polygon(56% 0, 100% 0, 100% 70%, 101% 70%);
    z-index: -1;
  }
}

.text-wrapper {
  margin-bottom: 2vh;
}

@media only screen and  (min-width : 1000px) {
  .text-wrapper {
    margin-bottom: 3vh;
  }
}

@media only screen and (max-width : 759px) {
  .text-wrapper {
    margin-bottom: 2vh;
  }
}

.pub-text {
  padding-top: 5vh;
  width: 100%;
}

@media only screen and (max-width : 759px) {
  .pub-text {
    padding-top: 9vh;
    width: 100%;
  }
}

@media only screen and (max-device-width : 1024px) and (max-device-height : 1366px) {
  .pub-text {
    padding-top: 10vh;
    width: 100%;
  }
}


.pub-background-clip {
  position: absolute;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
  z-index: -1;
}
@media only screen and (max-width : 759px) {
  .pub-background-clip {
    position: absolute;
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(-30% 0, 100% 0, 100% 100%, 40% 100%);
    z-index: -1;
  }
}

.pub-background-clip-yellow {
  position: absolute;
  background: #ffb55e;
  width: 100%;
  height: 100%;
  z-index: -2;
}

@media only screen and (max-width : 759px) {
  .pub-background-clip-yellow {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
}


.logo {
  margin-top: 3vh;
  margin-bottom: 3vh;
  /*width: 170px;*/
  height: 6vh;
  background: url(images/logo_AdSience.svg);
  background-repeat: no-repeat;
}
@media only screen and (max-width : 759px) {
  .logo {
    margin-top: 3vh;
    margin-bottom: 4vh;
    /*width: 170px;*/
    height: 7vh;
    background: url(images/logo_AdSience.svg);
    background-repeat: no-repeat;
  }
}

@media only screen and (max-height : 600px) {
  .logo {
    margin-top: 1vh;
    margin-bottom: 1vh;
    /*width: 170px;*/
    height: 5vh;
    background: url(images/logo_AdSience.svg);
    background-repeat: no-repeat;
  }
}

.mobile {
  background: url(images/2_Mobile.svg)
}
.display {
  background: url(images/1_Display.svg)
}
.video {
  background: url(images/3_Video.svg)
}
.background {
  background: url(images/4_Site\ Background.svg)
}
.adv {
  color: #ba4e4d;
}

@media only screen and (max-width : 759px) {
  .adv {
    margin-right: 10vw;
  }
}

/*.adv-formats{
  padding-top: 15vh;
}
.adv-formats + p {
  font-size: 1em;
}*/
.adv-formats-bg{
  position: absolute;
  /*display: none;*/

}

.format{
  width: 25%;
}

@media only screen and (min-width : 1000px) {
  .format{
    width: 25%;
  }
}
/*@media only screen and (max-width : 1000px) {
  .format{
    width: 100%;
  }
}*/

@media only screen and (min-width : 760px) and (max-width : 1000px) {
  .format{
    width: 100%;
  }
}

@media only screen and (max-width : 760px) {
  .format{
    width: 100%;
  }
}

.pub {
  color: #ffbd5e;
}

@media only screen and (min-width : 760px) and (max-width : 1000px) {
  .pub{
    margin-left: 21vh
  }
}

@media only screen and (max-width : 759px) {
  .pub {
    margin-left: 10vh
  }
}
.img {
  width: 36%;
}
.btn {
  border: 3px solid black;
  width: 140px;
  height: 45px;
  font-size: 1em;
  background: rgba(0,0,0,0);
  margin-bottom: 1.8vh;
  font-weight: 600;
  cursor:pointer
}

@media only screen and (max-height : 900px) and (max-width : 1400px) {
  .btn {
    border: 3px solid black;
    width: 100px;
    height: 35px;
    font-size: 1em;
    background: rgba(0,0,0,0);
    margin-bottom: 1vh;
    font-weight: 600;
    cursor:pointer
  }

}


@media only screen and (max-width : 759px) {
  .btn {
    border: 5px solid black;
    width: 96px;
    height: 33px;
    font-size: 0.7em;
    /*margin-bottom: 1.8vh;*/
    font-weight: 600;
    cursor:pointer
  }
}



.advertise-btn {
  border-color: #ba4e4d;
}
.advertise-btn:hover {
  background: #ba4e4d;
  color: #fff;
}

.publisher-btn {
  border-color: #ffbd5e;
  float: right;
}
.publisher-btn:hover {
  background: #ffbd5e;
  color: #fff;
}

.btn-contact {
  border-color: #ba4e4d;
  background-color: #ba4e4d;
  color: #fff;
  width: 50%;
  height: 70px;
  margin-top: 1.8vh;
}
.btn-contact:hover {
  background: #9a4140;
  border-color: #9a4140;
}

.container > div {
  display: inline-block;
}
.container > * {
  z-index: 1;
}
 .container {
   height: 100%;
 }

@media only screen and (min-width : 1000px) {
  .container {
   position: relative;
   width: 1000px;
   margin: 0 auto;
  }
 }

 @media only screen and (min-width : 760px) and (max-width : 1000px) {
   .container {
     position: relative;
     height: auto;
     /*width: 100%;*/
     /*padding: 0vh 2vw;*/
     margin: 0 4vh;
   }
}


 @media only screen and (max-width : 759px) {
   .container {
     position: relative;
     /*width: 99%;*/
     padding: 0vh 5vw;
     /*margin: 0 1vh;*/
   }
}

.flex-img {
  width: 150px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 4vh;
}
.space-around {
  justify-content: space-around;
}
.center {
  text-align: center;
}
.container-adv-formats{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-adv-formats > div {
  width: 100%
}


.right-text {
  text-align: right;
}
footer {
  background-color: #5f5c5c;
  height: 60px;
  color: #fff;
  vertical-align: center;
  line-height: 60px;
}
.gray {
  background: #f5f5f5;
}
.item {
  padding: 10px;
}
.item p {
  font-size: 16px;
}
.yellow {
  background: #ffbd5e;
}

.icon {
  width: 60px;
  height: 60px;
  background: no-repeat center;
  margin: 0 auto 3.7px;
}
@media only screen and (max-height : 600px) {
  .icon {
    width: auto;
    height: 40px;
    background: no-repeat center;
    margin: 0 auto 1vh;
  }
}
/*.flex-container {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
}*/

@media only screen and (min-width : 1000px) {
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media only screen and (max-width : 999px) {
  .flex-container {
    flex-direction: column;
  }
}


@media only screen and  (min-width : 1000px) {
  .flex-container p {
    font-size: 0.64em;
    font-weight: 300;
  }
}

@media only screen and  (min-width : 760px) and (max-width : 999px) {
  .flex-container p {
    font-size: 0.8em;
    font-weight: 300;
  }
}

@media only screen and (max-width : 759px) {
  .flex-container p {
    font-size: 0.9em;
    font-weight: 300;
  }
}

.ppa {
  background-image: url('images/5_Pay_Per_Action.svg')
}
.expertise {
  background-image: url('images/6_AdScience_Agency_Expertise.svg')
}
.targeted {
  background-image: url('images/7_Targeted_Ads.svg')
}
.personal-manager {
  background-image: url('images/8_Personal_Manager.svg')
}
.high-quality {
  background-image: url('images/9_High_quality_publishers.svg')
}
.cpm {
  background-image: url('images/10_CPM_rates.svg')
}
.save {
  background-image: url('images/11_Save_Ads.svg')
}
.solution {
  background-image: url('images/12_AdBlock_Solution.svg')
}
.payments {
  background-image: url('images/13_Regular_payments.svg')
}
.pm {
  background-image: url('images/14_Personal\ Manager.svg')
}

.form-title {
  line-height: 1.2;
  padding-top: 1vh;
  margin-bottom: 1vh;
}
/*
form {
  margin-bottom: 100px;
}

form p {
  margin-bottom: 10px;
}*/

form {
  /*margin-bottom: 1.8vh;
  margin-top: 1.8vh;*/
}

form p {
  margin-bottom: 1vh;
}


input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  color: #ba4e4d;
  font-size: 0.64em;
  font-weight: 400;
  margin-right: 40px;
}
input[type="radio"] + label:last-child {
  margin-right: 0;
}
input[type="text"], input[type="email"] {
  width: 45%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 0.64em;
  padding: 0 20px;
}

input[type="radio"] + label span {
  display:inline-block;
  width:16px;
  height:16px;
  margin:-1px 4px 3px 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius: 5px;
  border: 1px solid #ba4e4d;
}

input[type="radio"] + label span {
     background-color:rgba(0,0,0,0);
}

input[type="radio"]:checked + label span{
     background-color: #ba4e4d;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

.partner {
  width: 120px;
  height: 40px;
  background: no-repeat center;
  margin: 1.8vh auto;
  background-size: contain;
}

.jumia {
  background-image: url("images/jumia.png");
}
.jabong {
  background-image: url("images/jabong.png");
}
.lazada {
  background-image: url("images/lazada.png");
}
.stargames {
  background-image: url("images/stargames.png");
}
.daraz {
  background-image: url("images/daraz.png");
}

.bg-img {
  position: absolute;
}

footer p {
  margin: 0;
  font-size: 16px;
  line-height: inherit;
}

@media only screen and (min-width : 1000px ) {
  .adv-bg{
    height: 100vh;
    position: relative;
    background-image:url("images/smart.png"), url("images/smart.png"), url("images/smart.png"), url("images/smart.png");
    background-position: top 10vh left 20vw, bottom 85px left -100px,  bottom left 40px, bottom 50px right -60px;
    background-size: 200px;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width : 760px ) and (max-width : 999px) {
    .adv-bg{
      height: 100%;
      position: relative;
      background-image:url("images/smart.png"), url("images/smart.png"), url("images/smart.png"), url("images/smart.png");
      background-position: top 10vh left 20vw, bottom 85px left -100px,  bottom left 40px, bottom 50px right -60px;
      background-size: 200px;
      background-repeat: no-repeat;
    }
}

@media only screen and (max-width : 759px ) {
    .adv-bg{
      background-color: rgba(0, 0, 0, 0);
    }
}


/*.btn-magic-bg {
  padding-bottom: 8vh;
  height: 100%;
  position: relative;
  background-image: url("images/magic.png");
  background-position: top center;
  background-repeat: no-repeat;
}*/
@media only screen and (min-width : 1000px) {
  .btn-magic-bg {
    padding-bottom: 8vh;
    height: 0%;
    position: relative;
    background-image: url("images/magic.png");
    background-position: top center;
    background-size: 100%%;
    background-repeat: no-repeat;
  }

}
@media only screen and (min-width : 760px) and (max-width : 999px) {
  .btn-magic-bg {
    padding-bottom: 8vh;
    height: 0%;
    position: relative;
    background-image: url("images/magic.png");
    background-position: top center;
    background-size: 100%%;
    background-repeat: no-repeat;
  }

}
/*.advertiser-bg {
  height: 50%;;
  position: relative;
  background-image: url("images/iPad.png"), url("images/notebook1.png");
  background-position: top right 10vw, bottom right 10vw;
  background-size: 20vh, 40vh;
  background-repeat: no-repeat;
}*/

@media only screen and (min-width : 1000px) {
  .advertiser-bg {
    height: 100%;;
    position: relative;
    background-image: url("images/iPad.png"), url("images/notebook1.png");
    background-position: top right 44px, bottom right;
    background-size: 20vh, 30vh;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width : 760px) and (max-width : 999px) {
  .advertiser-bg {
    height: 100%;
    position: relative;
    background-image: url("images/iPad.png"), url("images/notebook1.png");
    background-position: top right 10vw, bottom right 0vw;
    background-size: 15vh, 20vh;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width : 759px) {
  .advertiser-bg {
    /*height: 100%;*/
    position: relative;
    background-image: url("images/iPad.png");
    background-position: top right 26px;
    background-size: 29vw;
    background-repeat: no-repeat;
  }
}

/*.publisher-bg {
  height: 50%;;
  position: relative;
  background-image: url("images/laptop.png"), url("images/notebook.png");
  background-position: top left 10vw, bottom left 10vw;
  background-size: 40vh, 35vh;
  background-repeat: no-repeat;
}*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1000px) {
  .publisher-bg {
    height: 100%;;
    position: relative;
    background-image: url("images/laptop.png"), url("images/notebook.png");
    background-position: top left, bottom left;
    background-size: 40vh, 329px;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width : 760px) and (max-width : 1000px) {
  .publisher-bg {
    height: 100%;
    position: relative;
    background-image: url("images/laptop.png"), url("images/notebook.png");
    background-position: top left, bottom left;
    background-size: 23vh, 329px;
    background-repeat: no-repeat;
    }
  }


  @media only screen and (max-width : 759px) {
    .publisher-bg {
      /*height: 100%;*/
      position: relative;
      background-color: rgba(255, 255, 255, 0);
      }
  }

  @media only screen and (max-width : 759px) {
    .publisher-bg-phone {
      /*height: 100%;*/
      position: relative;
      background-image: url("images/laptop.png");
      background-position: top left -25px;
      background-size: 52vw;
      background-repeat: no-repeat;
      }
  }



.all-footer {
  /*position: absolute;*/
  width: 100%;
  bottom: 0;
}
