/*@media only screen and (min-width : 320px) {
  .container {
    width: 100%;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
  }
  .text {
    width: 100%;
    margin-bottom: 60px;
    z-index: 2;
  }
  .bg-img, .smart-background {
    display: none;
  }
}
/* Extra Small Devices, Phones */
/*@media only screen and (min-width : 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
  }
  .text {
    width: 100%;
    margin-bottom: 60px;
    z-index: 2;
  }
  .bg-img, .smart-background{
    display: none;
  }
}*/

/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
  }
  .text {
    width: 100%;
    margin-bottom: 60px;
    z-index: 2;
  }
  .bg-img, .smart-background{
    display: none;
  }
}*/

/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
  }
  .text {
    width: 61%;
    margin-bottom: 60px;
    z-index: 2;
  }
  .bg-img, .smart-background{
    display: block;
  }
}*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1000px) {
  section {
    position: relative;
    height: 100vh;
  }

  .section-half {
    height: 50%;
    position: relative;
  }
  .section-55{
    height: 55%;
  }
  .section-45{
    height: 45%;
  }
  .section-contact {
    flex-direction: column;
  }
  .container-contact-form {
    flex-grow: 1;
  }
  .container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
  }
  .format{
    width: 25%;
  }
  .format-left{
    padding-left: 5vw;
  }
  .format-right{
    padding-right: 5vw;
  }
  .format-center{
    width: 50%
  }
  .text {
    width: 61%;
    /*margin-bottom: 2.4em;*/
    z-index: 2;
  }
  .bg-img, .smart-background{
    display: block;
  }
}
@media only screen and (max-height : 500px) {
  section {
    height: 100%;
  }
  .section-half  {
    height: 100%
  }

  .container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
  }
  .text {
    width: 61%;
    margin-bottom: 60px;
    z-index: 2;
  }
  .bg-img, .smart-background{
    display: block;
  }
}
  /*
@media only screen and (min-width : 2000px) {
  .container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
  }
  .text {
    width: 61%;
    margin-bottom: 60px;
    z-index: 2;
  }
  .bg-img, .smart-background{
    display: block;
  }
}*/
/*
@media only screen and (min-width : 3000px) {
  .container {
    position: relative;
    width: 20%;
    margin: 0 auto;
  }
  .flex-container {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
  }
  .text {
    width: 61%;
    margin-bottom: 60px;
    z-index: 2;
  }
  .bg-img, .smart-background{
    display: block;
  }
}*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  color: #5f5c5c;
}

@media only screen and (max-height : 900px) {
  body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #5f5c5c;
  }
}


.page {

}

/*section {
  position: relative;
  height: 100vh;
}*/

/*.section-half {
  height: 50%;
  position: relative;
}*/

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1em;
  margin-bottom: 1vh;
  padding-top: 0.5vh;
}
h3 {
  font-weight: bold;
  font-size: 0.64em;
}

h3.adv {
  font-size: 1em;
}

p {
  margin-bottom: 1.8vh;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2;
}

p.regular {
  font-weight: 400;
}

.background-clip {
  position: absolute;
  background: #ba4e4d;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
}

.adv-background-clip {
  position: absolute;
  background: #ba4e4d;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
  z-index: -1;
}

.text-wrapper {
  margin-bottom: 30px;
}

.pub-text {
  padding-top: 5vh;
  width: 100%;
}
.pub-background-clip {
  position: absolute;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
  z-index: -1;
}

.logo {
  margin-top: 3vh;
  margin-bottom: 3vh;
  /*width: 170px;*/
  height: 6vh;
  background: url(images/logo_AdSience.svg);
  background-repeat: no-repeat;
}
.mobile {
  background: url(images/2_Mobile.svg)
}
.display {
  background: url(images/1_Display.svg)
}
.video {
  background: url(images/3_Video.svg)
}
.background {
  background: url(images/4_Site\ Background.svg)
}
.adv {
  color: #ba4e4d;
}
/*.adv-formats{
  padding-top: 15vh;
}
.adv-formats + p {
  font-size: 1em;
}*/
.adv-formats-bg{
  position: absolute;
  /*display: none;*/

}
.pub {
  color: #ffbd5e;
}

.img {
  width: 36%;
}
.btn {
  border: 3px solid black;
  width: 140px;
  height: 45px;
  font-size: 1em;
  background: rgba(0,0,0,0);
  margin-bottom: 1.8vh;
  font-weight: 600;
  cursor:pointer
}

.advertise-btn {
  border-color: #ba4e4d;
}
.advertise-btn:hover {
  background: #ba4e4d;
  color: #fff;
}

.publisher-btn {
  border-color: #ffbd5e;
  float: right;
}
.publisher-btn:hover {
  background: #ffbd5e;
  color: #fff;
}

.btn-contact {
  border-color: #ba4e4d;
  background-color: #ba4e4d;
  color: #fff;
  width: 50%;
  height: 70px;
  margin-top: 1.8vh;
}
.btn-contact:hover {
  background: #9a4140;
  border-color: #9a4140;
}

.container > div {
  display: inline-block;
}
.container > * {
  z-index: 1;
}
 .container {
   height: 100%;
 }
.flex-img {
  width: 150px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 0.8em;
}
.space-around {
  justify-content: space-around;
}
.center {
  text-align: center;
}
.container-adv-formats{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-adv-formats > div {
  width: 100%
}


.right-text {
  text-align: right;
}
footer {
  background-color: #5f5c5c;
  height: 60px;
  color: #fff;
  vertical-align: center;
  line-height: 60px;
}
.gray {
  background: #f5f5f5;
}
.item {
  padding: 10px;
}
.item p {
  font-size: 16px;
}
.yellow {
  background: #ffbd5e;
}

.icon {
  width: 60px;
  height: 60px;
  background: no-repeat center;
  margin: 0 auto 3.7px;
}

.flex-container p {
  font-size: 0.64em;
  font-weight: 300;
}

.ppa {
  background-image: url('images/5_Pay_Per_Action.svg')
}
.expertise {
  background-image: url('images/6_AdScience_Agency_Expertise.svg')
}
.targeted {
  background-image: url('images/7_Targeted_Ads.svg')
}
.personal-manager {
  background-image: url('images/8_Personal_Manager.svg')
}
.high-quality {
  background-image: url('images/9_High_quality_publishers.svg')
}
.cpm {
  background-image: url('images/10_CPM_rates.svg')
}
.save {
  background-image: url('images/11_Save_Ads.svg')
}
.solution {
  background-image: url('images/12_AdBlock_Solution.svg')
}
.payments {
  background-image: url('images/13_Regular_payments.svg')
}
.pm {
  background-image: url('images/14_Personal\ Manager.svg')
}

.form-title {
  line-height: 1.2;
  padding-top: 1vh;
  margin-bottom: 1vh;
}
/*
form {
  margin-bottom: 100px;
}

form p {
  margin-bottom: 10px;
}*/

form {
  /*margin-bottom: 1.8vh;
  margin-top: 1.8vh;*/
}

form p {
  margin-bottom: 1vh;
}


input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  color: #ba4e4d;
  font-size: 0.64em;
  font-weight: 400;
  margin-right: 40px;
}
input[type="radio"] + label:last-child {
  margin-right: 0;
}
input[type="text"], input[type="email"] {
  width: 50%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 0.64em;
  padding: 0 20px;
}

input[type="radio"] + label span {
  display:inline-block;
  width:16px;
  height:16px;
  margin:-1px 4px 3px 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius: 5px;
  border: 1px solid #ba4e4d;
}

input[type="radio"] + label span {
     background-color:rgba(0,0,0,0);
}

input[type="radio"]:checked + label span{
     background-color: #ba4e4d;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

.partner {
  width: 120px;
  height: 40px;
  background: no-repeat center;
  margin: 1.8vh auto;
  background-size: contain;
}

.jumia {
  background-image: url("images/jumia.png");
}
.jabong {
  background-image: url("images/jabong.png");
}
.lazada {
  background-image: url("images/lazada.png");
}
.stargames {
  background-image: url("images/stargames.png");
}
.daraz {
  background-image: url("images/daraz.png");
}
.laptop {
  top: 0;
  left: 0;
  height: 60%;
}
.iPad {
  top: 0;
  right:70px;
  height: 50%;
}
.notebook1 {
  bottom: -2px;
  right: 0;
  height: 40%;
}
.notebook {
  bottom: 0;
  left: 0;
  height: 30%;
}
.smart {
  top: 20px;
  left: 30px;
  height: 19vh;
  z-index: 1;
}
.smart1 {
  top: 20px;
  left: -70px;
  height: 19vh;
  z-index: 1;
}
.smart2 {
  top: 87px;
  left: 44px;
  height: 19vh;
  z-index: 1;
}
.smart3 {
  top: 20px;
  right: 2px;
  height: 19vh;
  z-index: 1;
}
.smart-background{
  position: relative;
  width: 100%
}

.smart-background.bottom {
  height: 50vh;
}

.smart-background.top {
  height: 40vh;
}

.bg-img {
  position: absolute;
}

footer p {
  margin: 0;
  font-size: 16px;
  line-height: inherit;
}

.adv-bg{
  height: 100vh;
  position: relative;
  background-image:url("images/smart.png"), url("images/smart.png"), url("images/smart.png"), url("images/smart.png");
  background-position: top 10vh left 20vw, bottom 85px left -100px,  bottom left 40px, bottom 50px right -60px;
  background-size: 200px;
  background-repeat: no-repeat;
}
.btn-magic-bg {
  height: 100%;
  position: relative;
  background-image: url("images/magic.png");
  background-position: top 55vh center;
  background-size: 45%;
  background-repeat: no-repeat;
}

.all-footer {
  /*position: absolute;*/
  width: 100%;
  bottom: 0;
}
